<% group_loan_product = member.get_group_loan_product_for(group_loan) %>

<tr id="member_loan_subcription-<%= member.id %>">
  <td class="user-nim"><%= member.name %></td>
  
  <% if not group_loan_product.nil? %>
    <td> <%= print_money(group_loan_product.loan_amount) %> </td>
    <td><%= group_loan_product.interest_rate_in_percent.to_s + "%"%></td>
    <td>
        <a 
            class="btn group_loan_product_details"
            id="member_<%= member.id %>_detail_viewer-<%=  group_loan_product.id %>">
          <%= t 'trigger.payment_details' %>
        </a>
    </td>
    <td><%= group_loan_product.total_weeks.to_s + " #{t 'variable.weeks'}" %></td>
        <% if group_loan.is_started == false %>
          <td>
            <a 
                class="btn change_group_loan_product"
                id="membership-<%= group_loan.get_membership_for_member(member).id %>_detailviewer-<%=  group_loan_product.id %>">
              <%= t 'trigger.change_group_loan_product' %>
              
            </a>
          </td>
        <% else %>
          <%=  t 'guide.loan_product_details' %>
        <% end %>
  <% else %>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td>
      <% if group_loan.is_started == false %>
        <a class="btn change_group_loan_product no_loan_assigned"
            id="no_loan_subcription_member-<%= group_loan.get_membership_for_member(member).id %>">
        <%= t 'process.assign_loan_product' %>
        </a>
      <% else %>
        <%=  t 'guide.loan_product_details' %>
      <% end %>
    </td>
  <% end %>
  
</tr>