 
<% group_loan_membership = default_payment.group_loan_membership %>
<% member =  default_payment.group_loan_membership.member %>
<% saving_book = member.saving_book %>
<tr id="glm_<%= group_loan_membership.id%>">
  <td><%= member.name %></td>
  <td><%= print_money(saving_book.total) %></td>
  <td><%= print_money(saving_book.total_compulsory_savings) %></td>
  <td><%= print_money(saving_book.total_extra_savings) %></td>
  
  
  
  <td>
    <% if not default_payment.is_actual_non_defaultee? %>
      <span class="label label-important"><%= t 'status.defaultee' %></span>
    <% elsif default_payment.is_actual_non_defaultee?  %>
      <span class="label label-success"><%= t 'status.non_defaultee' %></span>
    <% end %>
  </td>
  
  <td>
    <%= print_money(group_loan_membership.default_payment.unpaid_grace_period_amount) %>
  </td>
  
  <td>
    <% if default_payment.is_defaultee == true %>
      <span class="label label-important"><%= print_money( default_payment.amount_paid ) %> </span>
    <% elsif default_payment.is_defaultee == false  %>
      <span class="label label">0  </span>
    <% end %>
  </td>
  
  <td> 
			<%= print_money( default_payment.custom_amount )%> 
  </td>
  
   
</tr>