<%= simple_form_for(group_loan, :url =>  execute_propose_custom_default_resolution_url(group_loan.id) , 
				:html => {:class => 'form-horizontal ajax-form', :id => "custom_form_propose" } 	) do |f| %>

  
  


	<table cellpadding="0" cellspacing="0" border="0" 
	      class="table table-striped table-bordered" id="example">
	  <thead>
	    <tr>
	      <th><%= t 'report_metric.member' %></th>
	      <th><%= t 'variable.total_savings'%></th>
	      <th><%= t 'report_metric.compulsory_savings'%></th>
	      <th><%= t 'variable.voluntary_savings' %></th>
	      <th><%= t 'report_metric.default_status'%></th>
	      <th><%= t 'report_metric.unpaid_amount' %></th>
	      <th>Defaultee Savings Deduction</th>
      
	      <th>Custom Amount</th> 
	    </tr>
	  </thead>
	  <tbody>
	    <% default_payments.each do |dp| %>
	      <%= render :partial => "group_loans/custom_default_entry" ,  :locals => {
					:default_payment => dp,
					:payment_params => payment_params 
				}%>
	    <% end %>
	  </tbody>
	</table>

	<div class="form-actions">
	  <%= f.button :submit , :class => "btn btn-primary", :value=> "Propose Custom Default Resolution Execution" %>
	</div>
<% end %>