  
<tr id="declare_default_group_loan-<%= group_loan.id %>">
  <td><%= link_to group_loan.name, new_group_loan_group_loan_subcription_url(group_loan.id) %></td>
  <td><%= group_loan.get_commune %></td>
  <td><%= group_loan.members.count %></td>
  
  <td><%= group_loan.total_default_member %></td> <!-- Total default mamber -->
  <td><%= group_loan.total_default_amount %></td> <!-- total default amount -->
  <td> <%= group_loan.total_members_paid_default_payment %> </td> <!-- paid_member -->
  <td> <%= group_loan.total_paid_default_payment %> </td>  <!-- paid amount -->
  
 
  <%# if group_loan.is_started == false && group_loan.is_proposed == true %>
  <% if group_loan.pending_approval_default_payments.count == 0  %>
    <td style="text-align:center;">
      <a href="#" class="btn approve action true_check"
          id="finalize-<%= group_loan.id %>"><%= t 'trigger.close' %></a>
    </td>
  <% else %>
    <td style="text-align:center;">
      <span class="label label-important">Pending Cashier Approval</span>
    </td>
  <% end %>
  
 
  <%# end %>
  
</tr>