 
<tr id="execute_group_loan_default_resolution-<%= group_loan.id %>">
  <td><%= group_loan.name %></td>
  <td><%= group_loan.get_commune %></td>
  <td>
		<% if group_loan.is_custom_default_payment_resolution == false %>
			<%= print_money(group_loan.total_amount_deducted_for_default_payment_resolution)%>
		<% else %>
			<%= print_money(group_loan.total_amount_deducted_for_custom_default_payment_resolution)%>
			(custom)
		<% end %>
	</td>
	
	<% if group_loan.is_default_payment_resolution_approved == true %>
		<td colspan='2'>
			<span class="label label-success"><%= t 'status.approved' %></span>
		</td>
	<% else %>
		<td>
			<a href="#" class="btn propose action true_check prevent_double_submit"
        id="group_loan_to_be_executed-<%= group_loan.id %>"><%= t 'trigger.execute' %></a>
		</td>
		
		<td>
			<a href="#" class="btn propose action  prevent_double_submit"
        id="group_loan_to_be_executed-<%= group_loan.id %>"><%= t 'trigger.cancel' %></a>
		</td>
	<% end %>

</tr>

