
<tr id="entry-<%= group_loan.id %>">
  <td> 
    <%= group_loan.name %>
  </td>
  <td><%= group_loan.get_commune %></td>
  <td><%= group_loan.preserved_active_group_loan_memberships.count %></td> 
	<td>
		<% if not group_loan.is_savings_disbursement_started %>
			<%= print_money( group_loan.total_to_be_disbursed_savings ) %>
		<% else %>
			<%= print_money( group_loan.total_disbursed_savings ) %>
		<% end %> 
		
	</td>
	<td>
		<% if not group_loan.is_savings_disbursement_finalization_proposed %>
			Pending Proposal
		<% else %>
			<% if group_loan.is_savings_disbursement_finalized %>
	    	Selesai
			<% else %>
				<a href="#" class="btn propose action true_check prevent_double_submit"
		    id="start_group_loan_savings_disbursement-<%= group_loan.id %>">Finalisasi</a>
			<% end %>
		<% end %>
		
		
		
		
		</td> 
</tr>