<tr id="declare_default_group_loan-<%= group_loan.id %>">
  <td><%= link_to group_loan.name, new_group_loan_group_loan_subcription_url(group_loan) %></td>
  <td><%= group_loan.get_commune %></td>
  <td><%= group_loan.members.count %></td>

  
  <td> 5 </td>
  
 
  <%# if group_loan.is_started == false && group_loan.is_proposed == true %>
    <td style="text-align:center;">
      <a href="#" class="btn approve action true_check"
          id="finalize-<%= group_loan.id %>">Declare Default</a>
    </td>
  
 
  <%# end %>
  
</tr>