<tr>
  <td><%= link_to group_loan.name, select_pending_backlog_to_be_approved_url(group_loan.id) %></td>
  <td><%= group_loan.get_commune %></td>
  <td><%= group_loan.members.count %></td>
  <td><%= group_loan.backlog_payments.count %></td>
  <td><%= group_loan.unpaid_backlogs.count %></td>
  <td><%= group_loan.pending_approval_backlogs.count %></td>
</tr>