 
<tr id="declare_default_group_loan-<%= group_loan.id %>">
  <td><%=  group_loan.name  %></td>
  <td><%= group_loan.unpaid_backlogs.count %></td>
  <td><%= print_money( group_loan.unpaid_grace_period_amount )  %></td>
  

	<% if group_loan.is_default_payment_resolution_proposed == false %>
		<td> 
	    <%# if group_loan.is_default_payment_resolution_approved == false %>
	      <%= link_to "#{ t 'trigger.standard_resolution'}", standard_default_resolution_schema_url(group_loan) %>  
	    <%# else %>
	      <!-- "Standard" -->
	    <%# end %>

	  </td>
	  <td> <%#= t 'trigger.custom_group_loan_default_resolution' %>

			<%= link_to "#{ t 'trigger.custom_group_loan_default_resolution'}", custom_default_resolution_schema_url(group_loan) %>  

		</td> <!-- Total default mamber -->
	<% else %>
		<td colspan='2'>
			<% if  group_loan.is_custom_default_payment_resolution == true  %>
				<%= link_to "#{ t 'trigger.custom_group_loan_default_resolution'}", 
								custom_default_resolution_schema_url(group_loan) %>
			<% else %>
				<%= link_to "#{ t 'trigger.standard_resolution'}", 
								standard_default_resolution_schema_url(group_loan) %>
			<% end %>
		</td>
	
	<% end %>
  
	
	
	
  <td>
    <% if group_loan.is_default_payment_resolution_approved == true %>
    <span class="label label-success"><%= t 'status.approved' %></span>
    <% elsif group_loan.is_default_payment_resolution_approved == false %>
    <span class="label"><%= t 'status.pending' %></span>
    <% end %>
    
    
  </td> <!-- total default amount -->
  <td>
    
    <% if group_loan.is_closed == true %>
    <span class="label label-success"><%= t 'status.approved' %></span>
    <% elsif group_loan.is_closed == false %>
    <span class="label"><%= t 'status.pending' %></span>
    <% end %>
  </td> <!-- paid_member count -->
 
  
</tr>