<tr id="start_group_loan-<%= group_loan.id %>">
  <td><%= link_to group_loan.name, group_loan_memberships_for_setup_fee_url(group_loan) %></td>
  <td><%= group_loan.get_commune %></td>
  <td><%= group_loan.members.count %></td>
  
  <td><%= group_loan.paid_members_count %></td>
  <td>Finalize</td>

  
</tr>