<tr id="finalize_group_loan-<%= group_loan.id %>">
  <td><%=  group_loan.name %></td>
  <td><%= group_loan.get_commune %></td>
  <td><%= group_loan.members.count %></td>
  <td><%= group_loan.unassigned_members.count %></td>
  <td style="text-align:center;">
    <% if group_loan.is_proposed == false %>
      <a href="#" class="btn propose action"
          id="finalize-<%= group_loan.id %>">Finalize</a>
    <% else %>
      <span class="label label-info">Finalized</span>
    <% end %>
  </td>
  
  
  
  
  <td style="text-align:center;">
    <% if group_loan.is_started == false %>
      <span class="label">Pending</span>
    <% else %>
      <span class="label label-success">Approved</span>
    <% end %>
  </td>
  <!-- <td><%#=  print_money( group_loan.aggregated_principal_amount ) %></td>
          <td><%#=  print_money( group_loan.aggregated_interest_amount ) %></td>
          <td><%#=  group_loan.aggregated_interest_rate_percentage.to_s + " %" %></td> -->
</tr>