<tr id="select_group_loan_with_backlog-<%= group_loan.id %>">
  <td><%=  group_loan.name  %></td>
  <td><%= group_loan.get_commune %></td>
  <td><%= group_loan.members.count %></td>
  <td><%= group_loan.total_backlogs %></td>
  <td><%= group_loan.total_resolved_backlogs %></td>
</tr>