<tr id="select_member_independent_payment-<%= group_loan_membership.id %>">
  <td><%=    group_loan_membership.member.name  %></td>
  <td><%= group_loan_membership.sub_group.number %></td>
  <td><%= group_loan_membership.member.address  %></td>
  <!-- <td><%#= group_loan_membership.total_backlogs.count %></td> -->
  <td><%= group_loan_membership.unpaid_backlogs.count %></td>


  <% unapproved_independent_payment = group_loan_membership.unapproved_independent_payment %>

	<% if unapproved_independent_payment.nil?   %> 
		<td>   
			<span class='label label-warning'> 0 </span> 
		</td>
		
		<td colspan=2>   
			<%= link_to "#{t 'process.create_payment'}",
			make_independent_payment_url(group_loan_membership.id)  , 
			:class => "btn btn-mini"  %>
		</td>
	<% else %>
		
		<td>   
			<span class='label label-warning'>1</span> 
		</td>
		<td>   
			<%= link_to "#{t 'process.edit_payment'}",
		      edit_independent_payment_url(group_loan_membership.id) , 
		      :class => "btn btn-mini"  %>
		</td>
		<td>
			<%= print_money(unapproved_independent_payment.total_transaction_amount)%>
		</td>
	<% end %>
  
</tr>
