<% member = group_loan_membership.member %>

<tr id="mark_attendance_wrapper-<%= group_loan_membership.id %>">
  
  <td><%= member.name %></td>
  <td><%= member.address %></td>
  <td style='text-align:center;' colspan="2">
    
    
    <% if not group_loan_membership.is_attending_loan_disbursement.nil?  %>
    
      <% if group_loan_membership.is_attending_loan_disbursement == false  %>
        <span class="label label-important"><%= t 'attendance_marking.absent' %></span>
      <% elsif group_loan_membership.is_attending_loan_disbursement == true %>
        <span class="label label-success"><%= t 'attendance_marking.present' %></span>
      <% end %>
      
    <% else %>
    
      <a href="#" class="btn propose action true_check"
        id="mark_attendance_on_time-<%= group_loan_membership.id %>"><%= t 'attendance_marking.present' %></a>
      <a href="#" class="btn propose action"
        id="mark_attendance_absent-<%= group_loan_membership.id %>"><%= t 'attendance_marking.absent' %></a>
        
    <% end %>
  </td>
  
  <td><%= print_money(group_loan_membership.group_loan_product.loan_amount)%></td>
  <td><%= print_money(group_loan_membership.group_loan_product.setup_payment_amount )%></td>
  <td><%=  print_money(group_loan_membership.group_loan_product.loan_amount_deducted_by_setup_amount ) %></td>
  
  
</tr>