
<tr id="entry-<%= group_loan.id %>">
  <td> 
    <%= group_loan.name %>
  </td>
  <td><%= group_loan.get_commune %></td>
  <td><%= group_loan.preserved_active_group_loan_memberships.count %></td> 
	<td><%= print_money( group_loan.total_disbursed_savings ) %></td>
	<td><%= print_money( group_loan.total_withdrawn_disbursed_savings )  %></td>
	<td><%= print_money( group_loan.total_saved_disbursed_savings ) %></td>
</tr>