
<div class="span9 content">
  <%= create_guide("Pengembalian Tabungan", 
        "#{t 'guide.office'}: <b>#{@office.name}</b>" + "<br />" + 
        "#{t 'guide.group_loan'}: <b>#{@group_loan.name}</b> "  ).html_safe %>
        
        <!-- + "<br />" + 
          "Office Loss: <b>#{print_money(@office_loss)}</b>" -->
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  
  
   
  <div class="row-fluid">
    <div id="data_list">
	
			<% if @group_loan. is_savings_disbursement_finalization_proposed == false %> 
				<%= render :partial => 'group_loans/savings_disbursement_finalization_form', :locals => {
					:payment_params => @payment_params, 
					:group_loan => @group_loan  
				}%>
			<% else %>
				<%= render :partial => 'group_loans/savings_disbursement_summary', :locals => {
					:payment_params => @payment_params, 
					:group_loan => @group_loan  
				}%>
			<% end %>
			


    </div><!-- end of #data_list -->
  </div>
  
  
  <%#= render :partial => "group_loans/propose_standard_default_resolution", :locals => {
    :group_loan => @group_loan
  }%>
  


   
 
  
  <div class=" hidden" id="approve_propose_form_wrapper">
    <%= form_for GroupLoan.new, :url => execute_propose_savings_disbursement_finalization_url   do |f| %>
      <%= hidden_field_tag 'entity_id' , ''  %>
      <%= hidden_field_tag 'action_role', '' %>
      <%= hidden_field_tag 'action_value', '' %>
    <% end %>
  </div>
  
  
  
  <div class="modal" id="myModal" style="display:none;">
     <div class="modal-header">
       <a class="close" data-dismiss="modal">×</a>
       <h3>Modal header</h3>
     </div>
     <div class="modal-body">
       <p>One fine body…</p>
     </div>
     <div class="modal-footer">
       <a href="#" class="btn modal-closer"><%= t 'trigger.close' %></a>
       <!-- <a href="#" class="btn btn-primary">Save changes</a> -->
     </div>
   </div>
   
   

</div><!--/span-->















