
<div class="span9 content">
  <%= create_guide("#{t "process.finalize_group_loan"}", 
        "#{t 'guide.office'}: <b>#{@office.name}</b>"  ).html_safe %>
  
  <%#= create_breadcrumb(@breadcrumbs).html_safe %>
  
  
   
  <div class="row-fluid">
    <div id="data_list">
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th><%= t 'report_metric.group_name' %></th>
            <th>Lokasi RW</th>
            <th><%= t 'guide.total_member'%></th>
            <th><%= t 'variable.aggregated_principal' %></th>
            <th><%= t 'variable.aggregated_interest' %></th>
            <th><%= t 'variable.aggregated_interest_rate' %></th>
        
          </tr>
        </thead>
        <tbody>
	<!-- group_loan_starter -->
          <% @group_loans.each do |group_loan| %>
            <%= render :partial => "group_loans/group_loan_payment_history_entry" , 
                :locals => {:group_loan => group_loan}%>
   
          <% end %>
       
          

        </tbody>
      </table>
    </div><!-- end of #data_list -->
  </div>
  
  <div class=" hidden" id="approve_propose_form_wrapper">
    <%= form_for GroupLoan.new, :url => execute_start_group_loan_url   do |f| %>
      <%= hidden_field_tag 'entity_id' , ''  %>
      <%= hidden_field_tag 'action_role', '' %>
      <%= hidden_field_tag 'action_value', '' %>
    <% end %>
  </div>
  
  
  
  <div class="modal" id="myModal" style="display:none;">
     <div class="modal-header">
       <a class="close" data-dismiss="modal">×</a>
       <h3>Modal header</h3>
     </div>
     <div class="modal-body">
       <p>One fine body…</p>
     </div>
     <div class="modal-footer">
       <a href="#" class="btn modal-closer"><%= t 'trigger.close' %></a>
       <!-- <a href="#" class="btn btn-primary">Save changes</a> -->
     </div>
   </div>
   
   

</div><!--/span-->















