
<div class="span9 content">
  <%= create_guide("#{t 'process.select_group_leader'}", 
        "#{t 'guide.group_loan_id'}: <b>#{@group_loan.name}</b>" + "<br />" + 
        "#{t 'guide.group_leader'}: <b>#{@group_leader_name}</b>").html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  
  <!-- <hr /> -->
  
  
  <div class="row-fluid">
    <!-- <div class="span12"> -->
      
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th><%= t 'report_metric.member' %></th>
            <th><%= t 'report_metric.sub_group'%></th>
            <th><%= t 'report_metric.sub_group_leader'%>?</th>
            <th><%= t 'guide.group_leader'%>?</th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <% glm = member. group_loan_membership_for(@group_loan) %>
            <tr>
              <td class="user-nim"><%= member.name %></td>
              <td>
                <% if glm.sub_group_id.nil? %>
                  <span class="label">NA</span> 
                <% else %>
                  <%= t 'report_metric.sub_group'%>-<%= glm.sub_group.number%>
                <% end %>
                
              </td>
              
              
              
              <td>
                <% if glm.is_sub_group_leader? %>
                  <span class="label label-success"><%= t 'status.yes' %></span> 
                <% else %>
                  <span class="label">NA</span>
                <% end %>  
              </td>
              
              <td class="well">
                <label class="checkbox">
                  
                  <% checkbox_value = member.id == @group_leader_id %>
             
                  <%= check_box_tag 'is_checked', get_checkbox_value(checkbox_value )   , 
                      checkbox_value, :class => 'checkbox_tracker single-submit', 
                      :id => "provider_#{@group_loan.id}-consumer_#{member.id}" %>
                      <% if checkbox_value == false %>
                       <%= t 'trigger.assign' %>
                      <% else %>
                       <span class="label label-success"><%= t 'status.leader'%></span>
                      <% end %>
                </label>

              </td>
            </tr>
          <% end %>


         
        </tbody>
      </table>
      
      
      
      <div class=" hidden" id="checkbox_form_wrapper">
        <%= form_for GroupLoanMembership.new, :url => execute_select_group_leader_url   do |f| %>
          <%= hidden_field_tag 'membership_provider' , ''  %>
          <%= hidden_field_tag 'membership_consumer', '' %>
          <%= hidden_field_tag 'membership_decision', '' %>
        <% end %>
      </div>
  

     <div class="modal" id="myModal" style="display:none;">
       <div class="modal-header">
         <a class="close" data-dismiss="modal">×</a>
         <h3>Modal header</h3>
       </div>
       <div class="modal-body">
         <p>One fine body…</p>
       </div>
       <div class="modal-footer">
         <a href="#" class="btn modal-closer"><%= t 'trigger.close' %></a>
       </div>
     </div>
        
      
    <!-- </div> -->   <!--/span12-->
  </div><!--/row-->

</div><!--/span-->









