
<div class="span9 content">
  <%= create_guide("Financial Education", 
        "Office: <b>#{@office.name}</b>" + "<br />" + 
        "Total Active Group Loan: <b>#{@active_group_loans.count}</b> ").html_safe %>
  
  <%#= create_breadcrumb(@breadcrumbs).html_safe %>
  
  
  
  <span class="label">Field Worker Version</span><br />
	<span class="label label-success">Loan Inspector Version</span><br />
   
  <div class="row-fluid">
    <div id="data_list">
      
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th>Nama Group</th>
            <th>Lokasi RW</th>
            <th>Terdaftar</th>
            <th colspan="2">Hadir</th>
            <th colspan="2">Absent</th>
            <th>Pending</th>
            <th>Finalize</th>
          </tr>
        </thead>
        <tbody>
          <% @active_group_loans.each do |group_loan| %>
            <%= render :partial => "group_loans/group_loan_for_financial_education_attendance_finalization" , 
                :locals => {:group_loan => group_loan}%>
            
     
            
          <% end %>
       
          

        </tbody>
      </table>
    </div><!-- end of #data_list -->
  </div>
  
  <div class=" hidden" id="approve_propose_form_wrapper">
    <%= form_for GroupLoan.new, :url => execute_finalize_financial_education_url   do |f| %>
      <%= hidden_field_tag 'entity_id' , ''  %>
      <%= hidden_field_tag 'action_role', '' %>
      <%= hidden_field_tag 'action_value', '' %>
    <% end %>
  </div>
  
  
  
  <div class="modal" id="myModal" style="display:none;">
     <div class="modal-header">
       <a class="close" data-dismiss="modal">×</a>
       <h3>Modal header</h3>
     </div>
     <div class="modal-body">
       <p>One fine body…</p>
     </div>
     <div class="modal-footer">
       <a href="#" class="btn modal-closer">Close</a>
       <!-- <a href="#" class="btn btn-primary">Save changes</a> -->
     </div>
   </div>
   
   

</div><!--/span-->















