<% group_loan  = weekly_task.group_loan %>
<tr id="weekly_payment_collection_cashier_approval-<%= weekly_task.id %>">
  <td><%= group_loan.name  %></td>
  <td><%= group_loan.get_commune %></td>
  <td><%= weekly_task.week_number %></td>

  <td><%=  weekly_task.weekly_payment_collection_finalizer_id %></td>

	<% finish_time = weekly_task.weekly_payment_collection_done_time.in_time_zone(LOCAL_TIME_ZONE) %>
  <td>
		<%=  "#{finish_time.day}/#{finish_time.month}/#{finish_time.year}" %> <br />
		<%=  "#{finish_time.hour}:#{finish_time.min}:#{finish_time.sec}" %> 
	</td>
  <!-- expected cash -->
  <td><%=  link_to print_money( weekly_task.group_payment_transactions.sum("total_transaction_amount") ), details_weekly_collection_url(weekly_task.id) %></td>
  
 <!-- action button -->
  <%# if group_loan.is_started == false && group_loan.is_proposed == true %>
    <td style="text-align:center;">
      <a href="#" class="btn approve action true_check"
          id="finalize-<%= weekly_task.id %>"><%= t 'trigger.approve'%></a>
    </td>
  
    <td style="text-align:center;">
      <a href="#" class="btn approve action"
          id="reject-<%= weekly_task.id %>"><%= t 'trigger.reject' %></a>
    </td>
  <%# end %>
  
</tr>