<% member = group_loan_membership.member %>
<% group_loan = group_loan_membership.group_loan %>
<% member_payment =  weekly_task.member_payment_for(member) %>


<tr id="make_payment_wrapper-<%= member.id %>">
  
  <td><%= member.name %></td>
  <td><%= member.address %></td>
  <td><%= group_loan_membership.unpaid_backlogs.count %></td>
  <!-- basic payment -->
  
  
  
  
  
  <td><%= print_money(group_loan_membership.group_loan_product.total_weekly_payment)  %></td>
    <% if weekly_task.has_paid_weekly_payment?(member)  %>
      <td colspan="1" style="text-align:center;">
        
         <% if member_payment.is_full_payment? %>
          <span class="label label-success"><%= t 'status.paid'%></span>
         <% elsif member_payment.only_savings_payment? %>
          <span class="label label-warning"><%= t 'status.only_savings' %></span>
         <% elsif  member_payment.no_payment?  %>
          <span class="label label-important"><%= t 'status.no_payment'%></span>
         <% end %>
		
      </td>

	  <td>
		<%= link_to "#{t 'process.edit_payment'}",
	      special_weekly_payment_for_member_url(group_loan, weekly_task, member), 
	      :class => "btn btn-mini", 
	      :id => "make_basic_payment-#{member.id}"  %>
	  </td>
    <% else %>
      
      <td colspan='2'>
          <span class="label"><%= t 'status.unpaid'%></span>
      </td>
      
    <% end %>
  
 
  
  

    <!-- back log payment  -->
     <!-- <td style="text-align:center;">50,000.00</td> -->

    <!-- Special Payment -->


    <!-- <%# if weekly_task.has_paid_weekly_payment?(member)  %>
    <td>

      <%= link_to "#{t 'trigger.more_payment'}",
      special_weekly_payment_for_member_url(group_loan, weekly_task, member), 
      :class => "btn", 
      :id => "make_basic_payment-#{member.id}"  %>

    </td>
    <%# else %>
    <td>
      <%= link_to "#{t 'process.create_payment'}",
      special_weekly_payment_for_member_url(group_loan, weekly_task, member), 
      :class => "btn", 
      :id => "make_basic_payment-#{member.id}"  %>
    </td>
    <%# end %> -->

    <!-- No payment -->
       
       <!-- No payment -->
       
 
 
  <td> <%= print_money( weekly_task.transactions_for_member(member).sum("total_transaction_amount") ) %></td>
    
</tr>