<% member = group_loan_membership.member %>
<% group_loan = group_loan_membership.group_loan %>
<% member_payment =  weekly_task.member_payment_for(member) %>


<tr id="make_payment_wrapper-<%= member.id %>">
  
  <td><%= member.name %></td>
  <td><%= member.address %></td>
  <td><%= group_loan_membership.unpaid_backlogs.count %></td>
  <!-- basic payment -->
  
  
  
  
  
  <td><%= print_money(group_loan_membership.group_loan_product.total_weekly_payment)  %></td>
    <% if weekly_task.has_paid_weekly_payment?(member)  %>
      <td colspan="1" style="text-align:center;">
        
         <% if member_payment.is_full_payment? %>
			<!-- there are 2 cases of full payment:
			1. paid from the previous week member_payment.weekly_task.week_number < weekly_task.week_number 
			2. paid in this week  member_payment.weekly_task.week_number == weekly_task.week_number  -->
		
			<% if member_payment.weekly_task.week_number ==  member_payment.week_number %>
				<span class="label label-success"><%= t 'status.paid'%></span>
			<% else %>
				<span class="label label-success">Post Paid<%#= t 'status.paid'%></span>
			<% end %>

         <% elsif member_payment.only_savings_payment? %>
          <span class="label label-warning"><%= t 'status.only_savings' %></span>
         <% elsif  member_payment.no_payment?  %>
          <span class="label label-important"><%= t 'status.no_payment'%></span>
         <% end %>
		
      </td>

	  <td>
		<!-- has paid weekly payment: 2 cases
		1. paid in the past week
		2. paid in this week 
		3. paid in independent payment  -->
		
		<% if member_payment.weekly_task.week_number ==  member_payment.week_number and 
				member_payment.is_independent_weekly_payment ==false  %>
		<!-- paid in this week. can only be edited  -->
			<% if not weekly_task.is_weekly_payment_approved_by_cashier? %>
				<%= link_to "#{t 'process.edit_payment'}",
			      edit_transaction_for_member_url(group_loan, weekly_task, member), 
			      :class => "btn btn-mini", 
			      :id => "make_basic_payment-#{member.id}"  %>
			<% end %>
		<% else %>
			<span class="label label-success">Post Paid<%#= t 'status.paid'%></span>
		<% end %>
		
	  </td>
    <% else %>
      
      <td colspan='1'>
          <span class="label"><%= t 'status.unpaid'%></span>
      </td>
		<td>
			<%= link_to "#{t 'process.create_payment'}",
			special_weekly_payment_for_member_url(group_loan, weekly_task, member), 
			:class => "btn btn-mini", 
			:id => "make_basic_payment-#{member.id}"  %>
		</td>
      
    <% end %>
  
 
  
  
       
 
 
  <td> 
		
		<% unapproved_group_weekly_payment = group_loan_membership.unapproved_group_weekly_payment %>
		<% if  unapproved_group_weekly_payment.nil? %>
			<%= print_money( BigDecimal('0'))%>
		<% else %>
			<%= print_money(group_loan_membership.unapproved_group_weekly_payment.total_transaction_amount 	) %>
		<% end %>
	</td>
    
</tr>