<% member = group_loan_membership.member %>

<tr id="mark_attendance_wrapper-<%= member.id %>">
  
  <td><%= member.name %></td>
  <td><%= member.address %></td>
  <td style='text-align:center;'>
    
    
    <% if weekly_task.attendance_marking_not_closed? %>
      <% if weekly_task.has_attendance(member)  %>
        <% member_attendance  = weekly_task.member_attendance( member ) %>
        <%= render :partial => "weekly_tasks/present_label", :locals => {
          :member_attendance => member_attendance 
        }%>
        
      <% else %>
        <a href="#" class="btn propose action true_check"
          id="mark_attendance_on_time-<%= member.id %>">On Time</a>
        <a href="#" class="btn propose action"
          id="mark_attendance_late-<%= member.id %>">Late</a>

					<a href="#" class="btn propose action special_notice"
	          id="mark_attendance_notice-<%= member.id %>">Izin</a>
      <% end %>
    <% else %>
    
      <% if weekly_task.has_attendance(member)  %>
        <% member_attendance  = weekly_task.member_attendance( member ) %>
        <%= render :partial => "weekly_tasks/present_label", :locals => {
          :member_attendance => member_attendance 
        }%>
        
      <% else %>
        <span class="label label-important"><%= t 'attendance_marking.absent' %></span>
      <% end %>
      
    <% end %>
    
    
  
    
    
  </td>
</tr>