<tr id="weekly_meeting_wrapper-<%= weekly_task.id %>">
  <td>
  <% if weekly_task.attendance_marking_can_be_done? %>
    <%= link_to "Week: #{weekly_task.week_number} ", mark_attendance_url(group_loan.id, weekly_task.id) %>
  <% else %>
    <%= "Week: #{weekly_task.week_number} " %>
  <% end %>
  
  </td>
  <td><%= total_group_member %></td>
  <td><%= weekly_task.total_members_present %></td>
  <td style='text-align:center;'>
 
    <% if weekly_task.attendance_marking_not_closed? and 
          weekly_task.attendance_marking_can_be_closed? %>
      <a href="#" class="btn propose action"
          id="close_weekly_meeting-<%= weekly_task.id %>">Close</a>
    <% elsif weekly_task.attendance_marking_not_closed? and 
               not weekly_task.attendance_marking_can_be_closed? %>
      <span class="label">--</span>
    <% else %>
      <span class="label label-success">Closed</span>
    <% end %>
    
  </td>
</tr>