

<% transaction_activity = glm.unapproved_group_weekly_payment  %>
<% member_payment = weekly_task.member_payment_for(glm.member ) %>

<% puts "666  the glm id is #{glm.id}\n"*100 %>
<% puts "weekly task id is #{weekly_task.id}"%>
<tr>
	
		<% if member_payment.weekly_task.week_number ==  member_payment.week_number and 
				member_payment.is_independent_weekly_payment ==false  %> 
	  
		<td> 
			<% if not transaction_activity.nil? %>
				<%= transaction_activity.id  %> 
			<% end %>
		</td>

		<td><%= glm.member.name %></td>
		<td>
			<% if not transaction_activity.nil? %>
				<%= print_money( transaction_activity.total_transaction_amount ) %>
			<% end %>
		</td>

		<td>
			<% if not transaction_activity.nil? %>
				<%=  transaction_activity.transaction_case %>
			<% end %>
		</td>

		<td> <%= MemberPaymentHistory.edit_history_list_count( weekly_task, PAYMENT_PHASE[:weekly_payment], glm.member )   %></td>
	<% elsif member_payment.no_payment? %>
		<td> 
			<span class="label label-important">No Payment</span>		
		</td>

		<td><%= glm.member.name %></td>
		<td><span class="label label-important">No Payment</span>		</td>

		<td><span class="label label-important">No Payment</span>		</td>

		<td> 
		<%= MemberPaymentHistory.edit_history_list_count( weekly_task, PAYMENT_PHASE[:weekly_payment], glm.member )   %></td>
	<% end %>
	
</tr>
