<div class="span9 content">
  <%= create_guide("#{t 'process.mark_attendance'}", 
        "#{t 'guide.office'}: <b>#{@office.name}</b>" + "<br />" + 
        "#{t 'guide.group_loan'}: <b>#{@group_loan.name}</b>" + "<br />" + 
        "Total Member: <b>#{@group_loan.active_group_loan_memberships.count}</b>"  ).html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  
  
   
  <div class="row-fluid">
    <div id="data_list">
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th><%= t 'report_metric.member' %></th>
            <th><%= t 'variable.address'%></th>
            <th style="text-align:center;" colspan="2"><%= t 'report_metric.mark_attendance' %></th>
          </tr>
        </thead>
        <tbody>
          <% @group_loan_memberships.each do |group_loan_membership| %>
            <%= render :partial => "weekly_tasks/mark_attendance" , 
                :locals => { :group_loan_membership => group_loan_membership, 
                  :weekly_task => @weekly_task}  %>
          <% end %>
       
          

        </tbody>
      </table>
    </div><!-- end of #data_list -->
  </div>
  
  
  
  <div class=" hidden" id="approve_propose_form_wrapper">
    <%= form_for MemberAttendance.new, :url => weekly_task_member_attendances_url(@weekly_task.id)   do |f| %>
      <%= hidden_field_tag 'entity_id' , ''  %>
      <%= hidden_field_tag 'action_role', '' %>
      <%= hidden_field_tag 'action_value', '' %>
    <% end %>
  </div>
  
  
  <div class="modal" id="myModal" style="display:none;">
     <div class="modal-header">
       <a class="close" data-dismiss="modal">×</a>
       <h3>Modal header</h3>
     </div>
     <div class="modal-body">
       <p>One fine body…</p>
     </div>
     <div class="modal-footer">
       <a href="#" class="btn modal-closer"><%= t 'trigger.close' %></a>
       <!-- <a href="#" class="btn btn-primary">Save changes</a> -->
     </div>
   </div>
  
  
  

</div><!--/span-->















