<% if new_object.persisted? %>
	<% id = 'edit_object'%>
<% else %>
	<% id = 'new_object'%>
<% end %>

<%= simple_form_for( new_object, :url => url,
      :method => :post , 
      :html => {:class => "form-horizontal prevent_double_submit ajax-form   no_content_form",
        :id => "#{id}"}) do |f| %>

	<%#= f.input :parent_id , :label => "Super Category" %>
	
	<%= f.input :attendance_status, :hint => "Status kehadiran", :label => "Kehadiran (#{member.name})" do %>
     <%= f.select :attendance_status, 
         MemberAttendance.all_selectable_attendance_status %>
   <% end %>
 
  <div class="form-actions">
		<% if new_object.persisted? %>
			<%= f.button :submit , :class => "btn btn-primary", :value=> "Update Kehadiran" %>
		<% else %>
			<%= f.button :submit , :class => "btn btn-primary", :value=> "Create Kehadiran " %>
		<% end %> 
  </div>
<% end %>
