
<div class="row-fluid tab-pane fade   in pane_wrapper" id="only_savings_payment" >
  <div class="span8">
    <h2>Pay as Savings</h2><br />

    <% if @member.can_pay_with_savings?( @group_loan_product.total_weekly_payment ) %>
      <div class="alert alert-success">
        <a data-dismiss="alert" class="close">×</a>
        <strong>Notification!</strong> This member's saving is enough to pay for the weekly payment.<br />
        Try to use the <strong>"Structured" payment method</strong>.
      </div>
    <% end %>
    
    <%= form_tag  create_savings_only_as_weekly_payment_url(@weekly_task, @member) , 
      :method => :post, :id => "form_only_savings_payment", 
      :class => "prevent_double_submit"  do  %>
      <table cellpadding="0" cellspacing="0" border="0" 
            class=" table table-striped table-bordered" >
        <thead>
          <tr>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <%#= hidden_field_tag 'group_loan_membership_id', '' %>
        
          <tr>
            <td><%= t 'variable.cash_amount' %>:</td>
            <td><%= text_field_tag 'os_cash_amount', '' %></td>
          </tr>
          
          <tr>
            <td></td>
            <td>
              <div class="form-actions">
                <%#= submit_tag "Pay as Savings",  :class => "btn btn-primary exe_special_payment" ,
                  :disable_with => 'Saving...'%>
                <button class="btn btn-primary" id="exe_only_savings_payment" type="submit"><%= t 'trigger.pay_as_savings_only'%></button>
              </div>
            </td>
          </tr>


        </tbody>
      </table>
    <% end %>
    
    
   
    
  </div> 
    
    
    
  <div class="span4">
    <table cellpadding="0" cellspacing="0" border="0" 
          class="table table-striped table-bordered" id="example">
      <thead>
        <tr><th colspan="2" style="text-align:center;"><%= t 'guide.current_savings'%></th></tr>
      </thead>
      <tbody>
          <tr>
            <td><%= t 'variable.total_savings'%></td>
            <td id="total_principal"><%= print_money(@member.total_savings)%> </td>
          </tr>
          
          <tr>
            <td><%= t 'report_metric.compulsory_savings'%></td>
            <td id="total_principal"><%= print_money(@member.saving_book.total_compulsory_savings)%> </td>
          </tr>
          
          <tr>
            <td><%= t 'variable.voluntary_savings' %></td>
            <td id="total_principal"><%= print_money(@member.saving_book.total_extra_savings)%> </td>
          </tr>
      </tbody>
    </table>
    
  </div><!--/span-->
  
</div><!--/row-->






