 
<% group_loan_membership = transaction_activity.group_loan_membership %>
<tr id="pending_approval-<%= transaction_activity.id  %>">
  <td><%= group_loan_membership.member.name %></td>
  <!-- <td><%#= transaction_activity.backlogs_associated.count %></td> -->
  <td><%= transaction_activity.transaction_case%></td>
  <td><%= print_money( transaction_activity.total_transaction_amount )%></td>
  <td style='text-align:center;'>
    
    <% if transaction_activity.is_approved == true  %>
      <span class="label label-success"><%= t 'status.approved' %></span>
    <% else %>
     <a href="#" class="btn propose action prevent_double_submit"
          id="pending_approval_grace_period_transaction-<%= transaction_activity.id %>">Approve</a>
    <% end %>
    
   
  </td>	

	<td>
		<%= MemberPaymentHistory.grace_payment_history_count(group_loan_membership)  %>
	</td>
  
  
</tr>