<!-- <tr>
  <th>Member</th>
  <th>Backlogs Paid</th>
  <th>Transaction Code</th>
  <th>Transaction Amount</th>
  <th>Action</th>
</tr> -->

<% group_loan_membership = transaction_activity.group_loan_membership %>
<tr id="pending_approval-<%= transaction_activity.id  %>">
  <td><%= group_loan_membership.member.name %></td>
  <td><%= transaction_activity.backlogs_associated.count %></td>
  <td><%= transaction_activity.transaction_case%></td>
  <td><%= print_money( transaction_activity.total_transaction_amount )%></td>
  <td style='text-align:center;'>
    
    <% if transaction_activity.is_approved_for_grace_period_payment? %>
      <span class="label label-success">Approved</span>
    <% else %>
     <a href="#" class="btn propose action prevent_double_submit"
          id="pending_approval_grace_period_transaction-<%= transaction_activity.id %>">Approve</a>
    <% end %>
    
   
  </td>
  
  
</tr>