<table cellpadding="0" cellspacing="0" border="0" 
      class="table table-striped table-bordered" id="example">
  <thead>
    <tr>
      <th>Weekly Cycle Period Payment Detail: <b><%= transaction_activity.id %></b></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= t 'variable.cash_amount' %>
      </td>
      <td>
        <b><%= print_money( transaction_activity.total_transaction_amount ) %></b>
      </td>
    </tr>
    
    <tr>
      <td>
        <%=  t 'variable.savings_withdrawal' %>
      </td>
      <td>
        <b><%= print_money( transaction_activity.savings_withdrawal_amount ) %></b>
      </td>
    </tr>
    
    <tr>
      <td>
        Number of Weekly Payments Paid
      </td>
      <td>
        <b><%=   transaction_activity.number_of_weekly_payments_paid %></b>
      </td>
    </tr>
    
    <tr>
      <td>
        Weekly Payments Paid Amount
      </td>
      <td>
        <b><%=   print_money( transaction_activity.weekly_payments_paid_amount )  %></b>
      </td>
    </tr>
    
    
    <tr>
      <td>
        <%= t 'report_metric.number_of_backlogs_paid'%>
      </td>
      <td>
        <b><%=   transaction_activity.number_of_backlogs_paid_in_weekly_cycle %></b>
      </td>
    </tr>
    
    <tr>
      <td>
        <%= t 'report_metric.backlogs_paid_amount'%>
      </td>
      <td>
        <b><%=   print_money( transaction_activity.weekly_cycle_period_backlogs_paid_amount )  %></b>
      </td>
    </tr>
    
    <tr>
      <td>
        <%= t 'variable.extra_savings'%>
      </td>
      <td>
        <b><%= print_money( transaction_activity.extra_savings_addition_amount ) %></b>
      </td>
    </tr>
    
    
   
  </tbody>
</table>