
 


<tr id="entry-<%= transaction_activity.id %>">
  <td><%= print_date( transaction_activity.created_at )%></td>
  <td><%= print_money( transaction_activity.total_transaction_amount )  %></td> 
	<td>
		<% if transaction_activity.transaction_case ==
			 TRANSACTION_CASE[:save_group_loan_disbursed_savings] %>
			Dari pinjaman kumpulan
		<% elsif	transaction_activity.transaction_case ==
				 TRANSACTION_CASE[:add_savings_account] %>
			Deposit
		<% elsif 	transaction_activity.transaction_case ==
					 TRANSACTION_CASE[:withdraw_savings_account]%>
			Pengambilan Tabungan
		<% elsif 	transaction_activity.transaction_case ==
					 TRANSACTION_CASE[:monthly_interest_savings_account]%>
			Bunga Tabungan
		<% end %>
		
	</td>
	
	<td>
		<% if transaction_activity.is_approved? %>
			N/A
		<% else %>
			<%= link_to "Batal", root_url, :class =>"delete_entry", 	
							:style => "cursor:pointer; text-decoration:none;"  %> 
							 
			| 
			
			<%= link_to "Edit", edit_savings_account_url(transaction_activity.id),  	:class =>"edit_entry modal-toggler",
			 				:style => "cursor:pointer; text-decoration:none;"  %>
			|
			<%= link_to  "Confirm" , confirm_savings_account_url( transaction_activity.id ), 
							:class =>"confirm_entry modal-toggler", 
							:style => "cursor:pointer; text-decoration:none;"   %>
			 
		<% end %>
	</td>
</tr>