<div class="span3 process-nav">
   <div class="well sidebar-nav">
     

      <% if current_user.has_role?(:branch_manager, current_user.active_job_attachment) %>
        <%= get_process_nav( :branch_manager , params ).html_safe %> 
      <% end %>
      
      <% if current_user.has_role?(:loan_officer, current_user.active_job_attachment) %>
        <%= get_process_nav( :loan_officer , params ).html_safe %> 
        <%= get_process_nav( :group_management , params ).html_safe %> 
      <% end %>
      
      <% if current_user.has_role?(:cashier, current_user.active_job_attachment) %>
        <%= get_process_nav( :cashier , params ).html_safe %> 
        <%= get_process_nav( :savings , params ).html_safe %> 
      <% end %>
      
      <% if current_user.has_role?(:field_worker, current_user.active_job_attachment) %>
        <%= get_process_nav( :field_worker , params ).html_safe %> 
      <% end %>
       
   </div><!--/.well -->
 </div><!--/span-->