
<div class="span9 content">
  <%= create_guide("New Group Loan THis is create Product", 
        "Create the group loan for: " + "<br />" + 
        "Office: #{@office.name}" + "<br />"    +  
        "Total Group Loans: #{@group_loan_products.count} " + "(<a href='#data_list'>#{t 'trigger.see_all'}</a>)"          ).html_safe %>
  
  <%#= create_breadcrumb(@breadcrumbs).html_safe %>
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <a data-dismiss="alert" class="close">×</a>
      <strong>Well done!</strong> <%= flash[:notice].html_safe %>
    </div>
  <% end %>
  
  
  <div class="row-fluid">
    <div class="span8">
      <h2><%= t 'guide.new_group_loan_product_details' %></h2><br />

      <%= simple_form_for(@new_group_loan_product, :html => {:class => 'form-horizontal' }) do |f| %>
        <%= f.input :principal , :input_html => {:class => "input-xlarge span5", :id =>"weekly_principal"}, 
        :hint => "#{t 'guide.principal_installment'}", :label => "#{t 'variable.installment_principal'}" %>

        <%= f.input :interest, :input_html => {:class => "input-xlarge span5",:id =>"weekly_interest"  },
        :hint => "Pembayaran Bunga Mingguan", :label => "#{t 'variable.interest_payment'}"%>

        <%= f.input :min_savings, :input_html => { :class => "input-xlarge span5" },
        :hint => "Minimum Tabungan Mingguan", :label => "#{t 'guide.min_weekly_savings'}"%>

        <%= f.input :admin_fee, :input_html => {:class => "input-xlarge span5" },
        :hint => "Biaya administrasi awal" %>

        <%= f.input :initial_savings, :input_html => { :class => "input-xlarge span5" },
        :hint => "Jumlah tabungan minimum awal"%>

        <%= f.input :total_weeks, :input_html => {:class => "input-xlarge span5", :id => "duration" },
        :hint => "Jangka Waktu Pembayaran(minggu)" %>
        
        <div class="form-actions">
          <%= f.button :submit , :class => "btn btn-primary", :text=> "#{t 'trigger.create_group_loan_product'}" %>
        </div>
      <% end %>
      
      <hr />
      <div id="data_list">
        <h2><%= t 'guide.total_group_loan_products' %>: <%= @group_loan_products.count %></h2>
      </div>
    </div>
      
      
      
    <div class="span4">
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr><th colspan="2" style="text-align:center;"><%= t 'guide.loan_calculator'%></th></tr>
        </thead>
        <tbody>
            <tr>
              <td><%= t 'variable.principal_rp'%> </td>
              <td id="total_principal">
                <div class="input-append">
                  <input type="text" size="16" id="appendedInput" class="span8" >
                  <span class="add-on">.00</span>
                </div>
              </td>
            </tr>
            <tr>
              <td><%= t 'variable.interest' %></td>
              <td id="percentage_interest">
                <div class="input-append">
                  <input type="text" size="16" id="appendedInput" class="span8" >
                  <span class="add-on">%</span>
                </div>
              </td>
            </tr>
            
            <tr>
              <td><%= t 'variable.duration' %></td>
              <td id="calculator_duration">
                <div class="input-append">
                  <input type="text" size="16" id="appendedInput" class="span5" >
                  <span class="add-on">weeks</span>
                </div>
              </td>
            </tr>
            
            <tr>
              <td colspan="2" style="text-align:center;">
                <button href="#" class="btn btn-primary" id="simulate_group_loan_product"><%= t 'trigger.simulate' %></button>
              </td>
            </tr>
            
          
        </tbody>
      </table>
      
    </div><!--/span-->
    
  </div><!--/row-->

</div><!--/span-->
