<% transaction_activity = weekly_task.transactions_for_member(member) %>
<div class="alert alert-block">  
	<span class="label label-success"><%= t 'status.paid'%></span><br />
	<strong>Cash</strong>: <%= print_money( transaction_activity.amount) %><br />
	<strong><%= t 'variable.duration' %></strong>: <%=  transaction_activity.number_of_weeks_paid %><br />
	<strong>Backlogs  ></strong>: <br /> <%= transaction_activity.number_of_backlogs_paid%>
	<strong><%= t 'variable.savings_withdrawal' %></strong>: <%= print_money( transaction_activity.extra_savings_withdrawal_amount)%> <br />
	<strong><%= t 'variable.extra_savings'%></strong>: <%= print_money( transaction_activity.extra_savings_addition_amount)%>
</div> 


