
<div class="span9 content">
  <%= create_guide("#{t 'process.create_sub_group'}", 
        "#{t 'guide.group_loan'}: <b>#{@group_loan.name}</b> " + "<br />"   + 
        "#{t 'guide.total_member'}: <b>#{@group_loan.members.count}</b>"   + "<br />" + 
        "#{t 'report_metric.total_sub_group'}: <b>#{@group_loan.sub_groups.count}</b>" ).html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <a data-dismiss="alert" class="close">×</a>
      <strong>Well done!</strong> <%= flash[:notice].html_safe %>
    </div>
  <% end %>
  
  <% if flash[:error] %>
    <div class="alert alert-error">
      <a data-dismiss="alert" class="close">×</a>
      <strong>Create Failure!</strong> Please fill in all fields.
    </div>
  <% end %>
  
  
  <div class="row-fluid">
    <div class="span8">
      
      <h2><%= t 'guide.new_group_loan_details'%></h2><br />

 
  
      <%= form_for [@group_loan, @new_sub_group_loan]  ,:url => group_loan_sub_groups_url(@group_loan) , 
        :html => {:class => "form-horizontal"} do |f| %>
        <div class="control-group">
          <%= f.label :title, "#{t 'report_metric.sub_group'}" %>
          <div class="controls">
            <%#= f.text_field :title, :class=>"input-xlarge" %>
            <%#= f.time_zone_select :time_zone %>
            <%= select_tag "total_sub_groups", 
              select_total_subgroups_to_be_created( @group_loan ).html_safe %>
            <!-- <p class="help-block">Masukkan kode kelas.</p> -->
          </div>
        </div>
        
        
        
        
        <div class="form-actions">
          <button class="btn btn-primary" type="submit"><%= t 'process.create_sub_group' %></button>
        </div>
      <% end %>
      
     
      
    </div>
    
    <div class="span4">
      
      <% if @group_loan.sub_groups.count == 0 %>
      <table cellpadding="0" cellspacing="0" border="0" 
          class="table table-striped table-bordered">
        <thead>
          <tr>
            <th style="text-align:center;">No Sub Groups</th>
          </tr>
        </thead>
      </table>
      <% else %>
      
        <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered">
          <tbody>
            <tr>
              <td><b><%= t 'guide.members_without_sub_group'%></b></td>
              <td><%= @group_loan.unassigned_members_to_sub_group.count %></td>
            </tr>
          </tboy>
        </table>
        
     
              
              
        <table cellpadding="0" cellspacing="0" border="0" 
              class="table table-striped table-bordered">
          <thead>
            <tr>
              <th colspan="1" style="text-align:center;">
              <%= t 'report_metric.sub_group'%>
            </th>
            <th colspan="1" style="text-align:center;">
              <%= t 'guide.total_member'%>
            </th>
          </tr>
          </thead>
          <tbody>
            <% @sub_groups.each do |sub_group| %>
              <tr>
                <td>
                  <%= "#{t 'report_metric.sub_group'}-#{sub_group.number}"%>
                </td>
                <td>
                  <%= sub_group.group_loan_memberships.count %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div> 
      
  </div><!--/row-->
   <hr />

</div><!--/span-->















