
<div class="span9 content">
  <%= create_guide("Member -> SubGroup",  
        "#{t 'guide.group_loan'}: <b>#{@group_loan.name}</b>" + "<br />" + 
        "#{t 'report_metric.total_sub_group' }: <b>#{@sub_groups.count}</b> " + "<br />" + 
        "#{t 'guide.total_group_member'}: <b>#{@group_loan.members.count}</b>").html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  
  
   
  <div class="row-fluid">
    <div id="data_list">
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th><%= t 'report_metric.group_name' %></th>
            <th><%= t 'guide.total_sub_group_member'%></th>
          </tr>
        </thead>
        <tbody>
          <% @sub_groups.each do |sub_group| %>
            <tr>
              <td><%= link_to "#{t 'report_metric.sub_group' }-#{sub_group.number}", assign_member_to_sub_group_url( sub_group) %></td>
              <td><%= sub_group.group_loan_memberships.count %></td>
            </tr>
          <% end %>

        </tbody>
      </table>
    </div><!-- end of #data_list -->
  </div>

</div><!--/span-->















