
<div class="span9 content">
  <%= create_guide("#{t 'process.assign_employee_to_group_loan'}", 
        "#{t 'guide.group_loan_id'}: <b>#{@group_loan.name}</b>").html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  
  <!-- <hr /> -->
  
  
  <div class="row-fluid">
    <!-- <div class="span12"> -->
      
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th>email</th>
            <th><%= t 'report_metric.role' %></th>
            <th style="text-align:center;"><%= t 'report_metric.active_field_workers_assignment' %></th>
            <th style="text-align:center;"><%= t 'report_metric.active_loan_inspectors_assignment' %></th>
            <th style="text-align:center;"><%= t 'report_metric.field_worker_assignment' %></th>
            <!-- <th style="text-align:center;">Loan Inspector Assignment</th> -->
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <% if not user.has_role?(:field_worker, user.active_job_attachment) %>
              <% next %>
            <% end %>
              
            <%= render :partial => "group_loan_assignments/field_worker_assignment" , :locals => {
              :user => user, 
              :group_loan => @group_loan
            }%>
            
            
          <% end %>


         
        </tbody>
      </table>
      
      
      
      <div class=" hidden" id="checkbox_form_wrapper">
        <%= form_for GroupLoanMembership.new, :url =>execute_field_worker_assignment_url   do |f| %>
          <%= hidden_field_tag 'membership_provider' , ''  %>
          <%= hidden_field_tag 'membership_consumer', '' %>
          <%= hidden_field_tag 'membership_decision', '' %>
        <% end %>
      </div>
     

     <div class="modal" id="myModal" style="display:none;">
       <div class="modal-header">
         <a class="close" data-dismiss="modal">×</a>
         <h3>Modal header</h3>
       </div>
       <div class="modal-body">
         <p>One fine body…</p>
       </div>
       <div class="modal-footer">
         <a href="#" class="btn modal-closer"><%= t 'trigger.close' %></a>
       </div>
     </div>
        
      
    <!-- </div> -->   <!--/span12-->
  </div><!--/row-->

</div><!--/span-->









