
<div class="span9 content">
  <%= create_guide("Backlog Payment", 
        "#{t 'guide.office'}: <b>#{@office.name}</b>" + "<br />" + 
        "#{t 'guide.group_loan'}: <b>#{@group_loan.name}</b>" + "<br />" + 
        "Total member with backlogs: <b>#{@member_with_backlog_payments.count}</b> ").html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  
  
   
  <div class="row-fluid">
    <div id="data_list">
      <table cellpadding="0" cellspacing="0" border="0" 
      class="table table-striped table-bordered" id="example">
      <thead>
        <tr>
          <th><%= t 'report_metric.member' %></th>
          <th>Number of Backlogs (week unpaid)</th>
          <th>Number of Paid Backlogs</th>
          <th><%= t 'trigger.action' %></th>
        </tr>
      </thead>
      <tbody>
        <% @member_with_backlog_payments.each do |member| %>
          <% backlog_payments_for_member = member.backlog_payments_for_group_loan(@group_loan) %>
          
          <% if backlog_payments_for_member.count > 0  %>
            <%= render :partial => "backlog_payments/backlog_index_entry", :locals => {
              :member  => member, 
              :total_backlog_payments_for_member => member.uncleared_backlog_payments_for_group_loan(@group_loan).count , 
              :total_cleared_backlog_payments_for_member => member.cleared_backlog_payments_for_group_loan(@group_loan).count ,
              :group_loan => @group_loan  
              }  %>
          <% end %>
        <% end %>



        </tbody> 
      </table>
      
        
    </div><!-- end of #data_list -->
  </div>
  
  <div class=" hidden" id="approve_propose_form_wrapper">
    <%= form_for GroupLoan.new, :url => execute_start_group_loan_url   do |f| %>
      <%= hidden_field_tag 'entity_id' , ''  %>
      <%= hidden_field_tag 'action_role', '' %>
      <%= hidden_field_tag 'action_value', '' %>
    <% end %>
  </div>
  
  
  
  <div class="modal" id="myModal" style="display:none;">
     <div class="modal-header">
       <a class="close" data-dismiss="modal">×</a>
       <h3>Modal header</h3>
     </div>
     <div class="modal-body">
       <p>One fine body…</p>
     </div>
     <div class="modal-footer">
       <a href="#" class="btn modal-closer"><%= t 'trigger.close' %></a> 
     </div>
   </div>
   
   

</div><!--/span-->















