<tr id="start_payment-<%= group_loan_membership.id %>" class="row_wrapper">
  <% group_loan_product = group_loan_membership.group_loan_subcription.group_loan_product %>
  <td class="member_name"><%= group_loan_membership.member.name %></td>
  <td>
    <%= print_money( group_loan_product.admin_fee  )%>
    <input name="admin_fee" type="hidden" 
        class="admin_fee"
        value="<%= group_loan_product.admin_fee.to_i %>" />
  </td>
  <td>
    <%= print_money( group_loan_product.initial_savings ) %>
    <input name="initial_savings" type="hidden"
        class="initial_savings"
        value="<%= group_loan_product.initial_savings.to_i %>" />
  </td>
  <td>
    <%=  print_money( group_loan_membership.deposit ) %>
  </td>
  
  <td style="text-align:center;" > 
    <% if not  group_loan_membership.has_paid_setup_payment?  %>
      <!-- <button href="#" class="btn setup_payment">Pay Cash</button>  -->
      <button href="#" class="btn deduct_loan_payment">Deduct Loan</button>
    
       
    <% else %>
      <% if group_loan_membership.has_paid_setup_fee == true %>
        <span class="label label-success"><%= t 'status.paid'%></span>
      <% elsif group_loan_membership.deduct_setup_payment_from_loan ==true %>
        <span class="label label-warning">Deduct Loan</span>
      <% end %>
    
    <% end %>
  </td>
  <td>
    <%= group_loan_membership.setup_fee_transaction_id %>
  </td>

  
</tr>