<tr id="start_payment-<%= group_loan_membership.member.id %>" class="row_wrapper">
  <% group_loan_product = group_loan_membership.group_loan_subcription.group_loan_product %>
  <td class="member_name"><%= group_loan_membership.member.name %></td>
  <td>
    <%= print_money( group_loan_product.admin_fee  )%>
    <input name="admin_fee" type="hidden" 
        class="admin_fee"
        value="<%= group_loan_product.admin_fee.to_i %>" />
  </td>
  <td>
    <%= print_money( group_loan_product.initial_savings ) %>
    <input name="initial_savings" type="hidden"
        class="initial_savings"
        value="<%= group_loan_product.initial_savings.to_i %>" />
  </td>
  <td>
    <%=  print_money( group_loan_membership.deposit ) %>
  </td>
  
  <td style="text-align:center;" colspan="2"> <button href="#" class="btn setup_payment">Pay Setup Fee</button> </td>

  
</tr>