
<div class="span9 content">
  <%= create_guide("Savings Withdrawal",  
        "Office: #{@office.name}"     + "<br />" + 
        "Member: #{@member.name}"     ).html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <a data-dismiss="alert" class="close">×</a>
      <strong>Transaction is Succecsful!</strong> 
    </div>
  <% end %>
  
  
  <% if flash[:error] %>
    <div class="alert alert-error">
      <a data-dismiss="alert" class="close">×</a>
      <strong>Transaction Fail!</strong> The withdrawal amount must not exceed total extra savings
    </div>
  <% end %>
  
  
  <div class="row-fluid">
    <div class="span8">
    
    <% if GroupLoanMembership.can_perform_cash_savings_withdrawal?(@member) and 
          TransactionActivity.where(:member_id=> @member.id, :is_approved => false).count == 0 %>
          
      <%= form_tag  execute_transaction_for_cash_savings_withdrawal_url, 
          :method => :get, :id => "search_member", :class => "prevent_double_submit"  do  %>
        <%= hidden_field_tag 'member_id',
            @member.id  %>
        <table cellpadding="0" cellspacing="0" border="0" 
          class="table table-striped table-bordered" id="example">
          <thead>
            <tr>
              <th colspan="2" style="text-align:left;">
                Create Savings Withdrawal 
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align:right;"><b>Amount</b></td>
              <td><%= text_field_tag 'savings_withdrawal_amount' %></td>
            </tr>

            <tr>
              <td colspan="2" style="text-align:center;">
                <button href="#" class="btn btn-primary" id="create_cash_savings_withdrawal">
                  Create Transaction
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    <% else %>
      <div class="alert alert-error">
        <a data-dismiss="alert" class="close">×</a>
        <strong>Can perform cash savings withdrawal!</strong> <br />
        Reason: The group loan where <b><%= @member.name %></b> is a member, is in grace period <br />
        or <br />
        There is non approved transactions for the respective member. 
        
      </div>
    <% end %>
      
    </div> 
    
    <div class="span4">
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr><th colspan="2" style="text-align:center;">Current Savings</th></tr>
        </thead>
        <tbody>
            <tr>
              <td>Total Savings</td>
              <td id=""><%= print_money(@member.total_savings)%> </td>
            </tr>

            <tr>
              <td>Compulsory Savings</td>
              <td id=""><%= print_money(@member.saving_book.total_compulsory_savings)%> </td>
            </tr>

            <tr>
              <td>Voluntary Savings</td>
              <td><%= print_money(@member.saving_book.total_extra_savings)%> </td>
              <%= hidden_field_tag 'total_extra_savings',
                  @member.saving_book.total_extra_savings  %>
            </tr>
        </tbody>
      </table>

    </div><!--/span-->
    
    
    
      
      
    
  </div><!--/row-->
   <hr />
  <div class="row-fluid">
    <div id="data_list">
      
      <h2>Past Savings Withdrawal: <%= @transaction_activities.count %></h2>
      
      
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th>Transaction ID</th>
            <th>Amount</th>
            <th>Withdrawal Time</th>
            
          </tr>
        </thead>
        <tbody>
          <% @transaction_activities.each do |transaction_activity| %>
            <tr>
              <td><%=  transaction_activity.id %></td>
              <td><%= print_money(transaction_activity.total_transaction_amount) %></td>
              <td><%= transaction_activity.created_at %></td> 
            </tr>
          <% end %>

        </tbody>
      </table>
    </div><!-- end of #data_list -->
  </div>

</div><!--/span-->















