
<div class="span9 content">
  <%= create_guide("#{t 'process.add_new_member'}",  
        "#{t 'guide.office'}: #{@office.name}" + "<br />"    +  
        "#{t 'guide.total_office_members'}: #{@office_members.count} " + "(<a href='#data_list'>#{t 'trigger.see_all'}</a>)"          ).html_safe %>
  
  <%#= create_breadcrumb(@breadcrumbs).html_safe %>
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <a data-dismiss="alert" class="close">×</a>
      <strong><%= t 'notification.well_done'%></strong> 
    </div>
  <% end %>
  
  <% if flash[:error] %>
    <div class="alert alert-error">
      <a data-dismiss="alert" class="close">×</a>
      <strong>Create Failure!</strong> Please fill in all fields.
    </div>
  <% end %>
  
  
  <div class="row-fluid">
    <div class="span12">
      
      <h2><%= t 'guide.new_member_details'%></h2><br />

			<%= render :partial => 'members/new_object_form' , :locals => {
				:new_object => @new_member, 
				:url => members_url
			}%>
      
      
      
     
      
    </div> 
      
      
      
    
  </div><!--/row-->
   <hr />
  <div class="row-fluid">
    <div id="data_list">
      <h2><%= t 'guide.total_members_in_office'%> <%= @office.name %>: <%= @office_members.count %> </h2>
      
      
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="tableView">
        <thead>
          <tr>
            <th>Nama</th>
            <th>No KTP</th>
            <th>Kecamatan</th>
            <th>Desa/Kelurahan</th>
            <th>RW</th>
            <th>RT</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @office_members.each do |office_member| %>
						<%= render :partial => 'members/entry', :locals =>{
							:object => office_member
						}%>
            
            
          <% end %>

        </tbody>
      </table>
    </div><!-- end of #data_list -->
  </div>

</div><!--/span-->







<div class="modal fade hide" id="editEntry">
  <div class="modal-header">
    <h3>Edit Member</h3>
  </div>
  <div class="modal-body"> 
	<!-- content -->
  </div>
  <div class="modal-footer">
    <!-- <a href="javascript:;" class="btn" data-dismiss="modal">Close</a> -->
		<a  class="btn modal_closer"  >Close</a>
  </div>
</div>









